body {
  background-color: #e7ebee;
  height: 100%;
  margin-top: 50pt;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 15pt;
  text-align: center;
}

h2 {
  margin-top: 20pt;
  margin-bottom: 10pt;
  text-align: center;
  font-weight: lighter;
  font-family: "Courier New", "Courier", monospace;
}

input[type="number"] {
  font-family: "Courier New", "Courier", monospace;
  background-color: #eceff1;
  border: 3px solid rgb(243, 228, 228);
  border-radius: 20pt;
  display: block;
  margin: auto;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: 15px;
  height: 30pt;
  outline: none;
  transition: 0.2s ease-in-out;
  margin-bottom: 10pt;
  margin-top: 10pt;
  color: rgb(78, 47, 47);
}

input[type="number"]:focus {
  border: 3px solid rgb(197, 174, 174);
}

button[type="submit"] {
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1.5pt;
  text-transform: uppercase;
  background-color: #333;
  border: 0;
  color: #fff;
  height: 35pt;
  padding-left: 30pt;
  padding-right: 30pt;
  border-radius: 20pt;
  margin-top: 10pt;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
button[type="submit"]:hover {
  opacity: 0.8;
  transform: translate(-50%, -10%);
}

button[type="submit"]:focus {
  outline: none;
  box-shadow: none;
}
